{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    
    <div>
        {% if user %}
        <h1>Nome: </h1> 
        <span>{{user.first_name}}</span><span> {{user.last_name}}</span>
    </div>
    <div>
        <h1>username: </h1> 
        <span>{{user.username}}</span>
    </div>
    <div>
        <h2> mail: </h2>
        <span>{{ user.email}}
    </div>
    <div>
        <h2> Nombre du vol: </h2>
        <span>{{ count }}</span>
    </div>
    {% endif %}
</div>
{% endblock  %}