{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div>
    <div class="table-wrapper">
        <table id="vols"> 
            <thead>
            <tr>
                <th>No.</td>
                <th>vol </td>
                <th>Date_du_vol</td>
                <th>Nome du projet</td>
                <th>statut</td>
                <th>capteurs</td>
            </tr>
            </thead>
            <tbody>
            {% for vol in vols %}
            <tr>
                <td></td>
                <td>{{ vol.id }}</td>
                <td><img src="{{MEDIA_URL}}{{vol.image}}"></td>
                <td>{{ vol.date_du_vol }}</td>
                <td>{{ vol.nome }}</td>
                <td>{{ vol.statut }}</td>
                <td>{{ vol.capteurs }}</td>
            <tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}